/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

body {
    background-color: #eee;
}

nav {
    text-align: left;
    border: 2px;
    float: right;
}

h1 {
    margin: auto;
    width: 360px;
    height: 158px;
    background: url(ageuk.png);
    text-indent: -9999px;
}
h2 {
    margin-left: auto;
    margin-right: auto;
}